PORT=3001
SUPABASE_URL=https://akrmoywplrvzsfepwdxl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFrcm1veXdwbHJ2enNmZXB3ZHhsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDQ4OTc4NiwiZXhwIjoyMDkwMDY1Nzg2fQ.Tm6-aHudAdOhclhZt09LMPUmcS54Rgp2uRtkAlhg3a0
VITE_SUPABASE_URL=https://akrmoywplrvzsfepwdxl.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Qfr1IFjzfR968bNXoV2CSg_InQDQf6F
VITE_SERVER_URL=http://localhost:3001
